body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
  
}
#content{
   background-color: #000;
    color: #6cb809;
    opacity: 0.5;
    text-align: center;
   
   
}

.buttons{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

   

